@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
.skills{
    text-align: center;
    font-family: MuseoModerno, serif;
    /* padding-left: 50px; */
    /* padding-right: 50px; */
}
.title{
    font-size: 3em;
}
.titleDesc{
    color: #eee5;
    text-align: center;
    max-width: 500px;
    margin: auto;
}

/* .skillItem{
    background-color: rgba(109, 0, 109, 0.119);
    backdrop-filter: blur(20px);
    background-image: linear-gradient(
        160deg,
        rgba(255, 255, 255, 0.3),
        rgba(0, 0, 0, 0.2)
    );
    border-radius: 20px;
    padding: 20px;
}
.skillItem i{
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: #eee2;
}
.skillItem:hover{
    transform: scale(1.08);
} */
 .skillList{
    margin-top: 30px;
 }
.mySwiper {
    width: 90%;
    height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(255, 255, 255);
  }
.mySwiper .swiper-slide {
    filter: blur(10px); 
    transition: filter 0.5s ease-in-out;
}
.swiper-3d .swiper-slide-shadow-left{
    display: none !important;
}
.swiper-3d .swiper-slide-shadow-right{
    display: none !important;
}

.mySwiper .swiper-slide-active {
    filter: blur(); 
}
.mySwiper  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
 .mySwiper .swiper-slide img {
    display: block;
    /* width: 100%; */
    width: 200px; 
    height: 200px;
    object-fit: contain;
    /* border: 1px solid white; */
  }
  
/* .skillItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid white;
    width: 70%;
  }
  
  .skillImage {
    width: 200px; 
    height: 200px;
    object-fit: contain;
    border: 1px solid white;
  }
.mySwiper{
    border: 1px solid white;
    width: 80%;
} */