@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
.skills{
    text-align: center;
    font-family: MuseoModerno, serif;
    /* padding-left: 50px; */
    /* padding-right: 50px; */
    /* border: 1px solid wheat; */
}
.title{
    font-size: 3em;
}
.titleDesc{
    color: #eee5;
    text-align: center;
    max-width: 500px;
    margin: auto;
}

/* .skillItem{
    background-color: rgba(109, 0, 109, 0.119);
    backdrop-filter: blur(20px);
    background-image: linear-gradient(
        160deg,
        rgba(255, 255, 255, 0.3),
        rgba(0, 0, 0, 0.2)
    );
    border-radius: 20px;
    padding: 20px;
}
.skillItem i{
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: #eee2;
}
.skillItem:hover{
    transform: scale(1.08);
} */

.mySwiper {
    width: 90%;
    height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-image: linear-gradient(
      to right, #d02e23, #7a43b6
    ); */
    /* background-image: linear-gradient(-45deg, #473bb441, #be24a96f); */
    /* background-color: #473bb441; */
    /* background-color: rgb(194, 194, 194); */
  }
  .skills::before{
    position: fixed;
    width: 400px;
    height: 300px;
    content: '';
    background-image: linear-gradient(
      to right, #ff60fa, #b168ff
    );
    z-index: -1;
    top: 200px;
    left: calc(50% - 200px);
    border-radius: 50% 50% 0 0;
    pointer-events: none;
    filter: blur(250px)
  }
.mySwiper .swiper-slide {
    filter: blur(10px); 
    transition: filter 0.5s ease-in-out;
}
.swiper-3d .swiper-slide-shadow-left{
    display: none !important;
}
.swiper-3d .swiper-slide-shadow-right{
    display: none !important;
}

.mySwiper .swiper-slide-active {
    filter: blur(); 
}
.mySwiper  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
 .mySwiper .swiper-slide img {
    display: block;
    /* width: 100%; */
    width: 200px; 
    height: 200px;
    object-fit: contain;
    /* border: 1px solid white; */
  }
  @media screen and (max-width: 700px) {
    .mySwiper{
        width: 100%;
    }
  }
  @media screen and (max-width: 570px) {
    .mySwiper .swiper-slide{
        width: 300px;
        display: flex;
        justify-content: center;
        height: 100%;
        /* border: 1px solid wheat; */
    }
  }
  /* @media screen and (max-width: 500px) {
    .mySwiper .swiper-slide img {
        width: 150px;
        height: 150px;
    }
  } */
/* .skillItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid white;
    width: 70%;
  }
  
  .skillImage {
    width: 200px; 
    height: 200px;
    object-fit: contain;
    border: 1px solid white;
  }
.mySwiper{
    border: 1px solid white;
    width: 80%;
} */