/* @import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap'); */
.about{
    text-align: center;
    /* padding-left: 50px; */
    /* padding-right: 50px; */
    /* border: 1px solid wheat; */
    padding-top: 80px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

}
.about p{
  margin: 0;
}
.randomAboutP{
  line-height: 40px;
}
.aboutTxt{
  width: 50%;
  height: 90%;
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: start;
  font-size: 22px;
  color: #ccd6f6;
}
/* .aboutTxt p{
  border: 1px solid white;
} */
.aboutTxtHead{
  font-size: 50px;
}
.aboutImg{
  width: 30%;
  height: 50%;
}
.aboutImg img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  /* background-color: black !important;
  background-blend-mode: darken; */
}
.techStack{
  width: 100%;
  /* background-color: rgba(127, 255, 212, 0.114); */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  /* flex-grow: 1; */
  height: 95%;
  overflow-y: scroll;
}
/* The scrollbar track (the background) */
.techStack::-webkit-scrollbar {
  width: 8px; /* Width of vertical scrollbar */
}

/* The handle (thumb) of the scrollbar */
.techStack::-webkit-scrollbar-thumb {
  background-color: #64ffda; /* Color of the scrollbar handle */
  border-radius: 10px;
}

.techStack::-webkit-scrollbar-track {
  background-color: #696969; /* Background color of the scrollbar track */
}

@media screen and (max-width: 1200px) {
  .aboutImg{
    width: 350px;
  }
}

@media screen and (max-width: 921px) {
  /* .about{
    background-color: black;
  } */
  .aboutImg{
    display: none;
  }
  .aboutTxt{
    width: 90%;
    /* border: 1px solid white; */
  }
}