.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 500px;
  /* border: 5px solid black; */
  color: black;
}

/* Cyberpunk clip-path text box */
.heroText {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
}

.hiTxt {
    padding: 0;
    margin: 0;
  font-size: 100px;
  font-weight: bold;
  height: 130px;
  /* background-color: #ff4655; */
}

.hiTxtSpan {
  color: #373518;
  background: url('../../images/bg.jpeg') 50% 50%;
  background-size: cover;
  font-family: "Bangers", system-ui;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.blinking-cursor {
  animation: blink 1s infinite;
  color: #3a392e;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.intro {
  font-size: 30px;
  line-height: 1.5;
  color: #282828;
}



/* Cyberpunk clip-path image */
.myPic {

  display: flex;
  justify-content: center;
  align-items: center;
}
.myPic img {
  width: 250px;
  border-radius: 50%;
  height: 300px;
}




.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 300px;
  background: none;
  color: #0f1923;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  font-size: 20px;
  letter-spacing: 5px;
  transition: all .15s ease;
}

.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7D8082;
  transition: all .15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #0f1923;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all .2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: rgb(103, 176, 72);
  transform: skew(-15deg);
  transition: all .2s ease;
}

.button_text {
  position: relative;
}

.button:hover {
  color: #0f1923;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: #fff;
}


@media screen and (max-width: 562px){
  .hiTxt{
    font-size: 80px;
  }
}

@media screen and (max-width: 490px){
  .intro{
    font-size: 20px;
  }
}