@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'SquareGame';
    src: url('../../fonts/Square Game.woff2') format('woff2'), 
         url('../../fonts/Square Game.ttf') format('truetype');
}
.home{
    /* padding-top: 50px; */
    width: 100%;
    height: 80vh;
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 100px;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    /* background-color: #ccd6f6; */
    /* top: 80px; */
    /* margin-top: 10px; */
}
.helloBanner{
    color: #ccd6f6;
    background-image: url('../../images/hello.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.621);
    background-blend-mode: darken;
    width: 70%;
    /* width: fit-content; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    gap: 0px;
    /* padding: 30px; */
}
.helloBanner p{
    font-size: 24px;
    width: 90%;
    margin: 0;
    /* padding: 0; */
    /* border: 1px solid wheat; */
}
.intro{
    line-height: 40px;
}
.hiTxt{
    font-size: 50px !important;
    font-weight: bold;
    /* animation: blink 0.8s step-end infinite; */
    /* border: 1px solid wheat; */
    /* display: flex; */
}
.blinking-cursor {
    font-weight: bold;
    /* font-size: 1.2rem; */
    /* color: #333; */
    animation: blink 0.8s step-end infinite;
  }
  
  @keyframes blink {
    from, to { opacity: 1 }
    50% { opacity: 0 }
  }
  
.hiTxtSpan{
    color: #64ffda;
}

.name{
    font-size: 50px;

}
/* .nameSpan{
    background-image: linear-gradient(to right, #7BE728, #F3265F, #7F40AC);
    background-size: 200% auto;
    animation: gradientAnimation 5s linear infinite;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
@keyframes gradientAnimation{
    to{
        background-position: 200% center;
    }
} */
.downloadCv{
    color: #64ffda;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #64ffda;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 30px;
    display: block;
    width: max-content;
}
.downloadCv:hover{
    /* background-color: #233554; */
    transition: 1s;
    /* color: #010824; */
    transform: scale(1.08);
}
.myPic{
    display: inline-flex;
    flex-direction: column;
    width: 300px;
    box-shadow: 0 150px 150px #e945e333;
    transition: 0.5s;
}
.card:hover{
    box-shadow: 0 150px 150px #e945e333;
}
.myPic img{
    border: 3px solid rgb(239, 0, 0);
    width: 100%;
    height: min(700px, 50vh);
    /* object-fit: cover;
    object-position: top;
    clip-path: polygon(
        81% 0, 100% 18%, 100% 1000%, 0 100%, 0 0
    ); */
}
.info{
    background-color: #0000007d;
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    /* justify-content: center; */
    /* text-align: center; */
    gap: 20px;
    padding: 20px;
    font-size: 1.1em;
    font-family: 'SquareGame', sans-serif;
}
/* .info div:nth-child(-n + 3){
    font-weight: bold;
} */
.myHomeSwiper{
    width: 400px;
    height: 350px;
    padding: 50px;
}
.picSlideShow {
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 350px;
  }
  
  .picSlideShow img {
    display: block;
    width: 100%;
    height: 100%;
  }
.info div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.code{
    color: orange;
}
.nigeria{
    color: #7BE728;
}
.people{
    color: #F3265F;
}
.calendar{
    color: darksalmon;
}

@media screen and (max-width: 1025px) {
    .name{
        text-align: start;
        font-size: 70px;
    }
}
@media screen and (max-width: 955px) {
    .home{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 600px) {
    .myHomeSwiper, .avatar{
        width: 300px;
        /* border: 2px solid wheat; */
    }
    .info{
        text-align: start;
    }
    .info div{
        font-size: 16px;
    }
}