@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
.contacts{
    padding-bottom: 220px;
}
.title{
    font-size: 5vw;
    text-align: center;
    font-family: MuseoModerno, serif;
}
.contactDesc{
    color: #eee5;
    text-align: center;
    max-width: 500px;
    margin: auto;
}
.listContact{
    text-align: center;
    /* border: 3px solid white; */
}
.listContactItem{
    /* border: 3px solid wheat; */
    margin-top: 50px;
    display: flex;
    gap: 0;
    flex-direction: column;
}
.listContactItem h3 a i{
    font-size: 30px;
    color: white;
}
.listContactItem h3 a{
    text-decoration: none;
}