@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
.contacts{
    padding-bottom: 220px;
    /* width: 500px; */
    /* background-color: aqua; */
}
.title{
    font-size: 5vw;
    text-align: center;
    font-family: MuseoModerno, serif;
}
.contactDesc{
    color: #eee5;
    text-align: center;
    max-width: 500px;
    margin: auto;
}
.listContact{
    margin-top: 40px;
    text-align: center;
    /* border: 3px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
}
.listContactItem{
    /* border: 3px solid wheat; */
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.listContactItem a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: rgba(238, 238, 238, 0.685);
}
.listContactItem a i{
    font-size: 25px;
    color: white;
}
.listContactItem a{
    text-decoration: none;
}

.listContactItem a:hover, .listContactItem a:hover i{
    color: #e945e3;
    transform: scale(1.1);
}

@media screen and (max-width:1000px) {
    .listContact{
        display: flex;
        flex-direction: column;
    }
}