@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
.contacts{
    padding-bottom: 220px;
    /* width: 100%; */
    /* background-color: aqua; */
}
.title{
    font-size: 5vw;
    text-align: center;
    font-family: MuseoModerno, serif;
}
.contactDesc{
    color: #eee5;
    text-align: center;
    max-width: 500px;
    /* width: 100%; */
    margin: auto;
    font-family: MuseoModerno, serif;
}
.listContact{
    margin-top: 40px;
    text-align: center;
    /* border: 3px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
}
.listContactItem{
    /* border: 3px solid wheat; */
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.myContact{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: rgba(238, 238, 238, 0.685);
    text-decoration: none;
    font-family: MuseoModerno, serif;
}
.myContact i{
    font-size: 25px;
    color: white;
}
.myContact:hover, .myContact:hover i{
    color: #e945e3;
    transform: scale(1.1);
}

.messageBox {
    display: none; 
    width: max-content;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 14px;
    padding: 5px 10px;
    background-color: #e945e43a;
    clip-path: polygon(
        30% 10%, 40% 0%, 50% 10%, 
        100% 10%, 100% 100%, 0% 100%, 0% 10%
    );
    border-radius: 15px;
    font-family: MuseoModerno, serif;
}


.listContactItem:nth-last-child(1) .messageBox, .listContactItem:nth-last-child(2) .messageBox{
    display: none;
}

/* Show .messageBox when .myContact is hovered */
.listContactItem:hover .myContact:hover + .messageBox {
    display: flex;
}

/* Ensure the last two items (LinkedIn & GitHub) do not show messageBox */
.listContactItem:nth-last-child(-n+2) .messageBox {
    display: none !important;
}

/* .messageBox{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 14px;
    background-color: #e945e43a;
    clip-path: polygon(
    30% 10%, 40% 0%, 50% 10%, 
    100% 10%, 100% 100%, 0% 100%, 0% 10%
  );
  border-radius: 15px;
    
} */

@media screen and (max-width:1000px) {
    .listContact{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    /* .contactDesc{
        margin: 0;
        border: 1px solid white;
    } */
}

