@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
.exp{
    padding-top: 80px;
    width: 100%;
    height: 500px;
    /* background-color: rgba(0, 255, 255, 0.205); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.expHeadTxt{
    font-size: 50px;
    margin: 0;
    display: flex;
    justify-content: start;
    width: 90%;
}
.expBox{
    display: flex;
    /* gap: 20px; */
    justify-content: space-around;
    width: 90%;
    height: 90%;
    /* background-color: rgba(255, 166, 0, 0.285); */
}
.organisation{
    /* border: 1px solid white; */
    width: 20%;
    height: 100%;
}
.organisation p{
    font-size: 25px;
    cursor: pointer;
}
/* .organisation p:hover{
    border-right: 3px solid #64ffda;
    color: #64ffda;
} */
.organisation.active p {
    border-right: 3px solid #64ffda;
    color: #64ffda;
    animation: flashBackground 0.6s ease-in-out;
  }
  
  @keyframes flashBackground {
    0% {
      background-color: rgba(100, 255, 218, 0.2);
    }
    100% {
      background-color: transparent;
    }
  }
.expDesc{
    width: 70%;
    /* background-color: black; */
    height: 100%;
    font-size: 20px;
}
.expDesc p{
    line-height: 30px;
}


@media screen and (max-width: 650px) {

    .expBox{
        display: flex;
        flex-direction: column;
    }
    .organisation{
        /* border: 1px solid white; */
        width: 50%;
    }
    .expDesc{
        width: 100%;
        /* background-color: #18181a; */
    }
}