
@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

/* @font-face {
  font-family: 'SquareGame';
  src: url('./fonts/Square Game.woff2') format('woff2'), 
       url('./fonts/Square Game.ttf') format('truetype');
} */

*{
  font-family: "NTR", sans-serif;
}
body{
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: #0a192f;
  color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-image: repeating-linear-gradient(
    to right, transparent 0 49px, #eee1 49px 50px
  ),
  repeating-linear-gradient(
    to bottom, transparent 0 49px, #eee1 49px 50px
  ); */
  /* &::before{
    position: fixed;
    width: 400px;
    height: 400px;
    content: '';
    background-image: linear-gradient(
      to right, #140013, #140029
    );
    z-index: -1;
    top: -200px;
    left: calc(50% - 200px);
    border-radius: 50% 50% 0 0;
    pointer-events: none;
    filter: blur(250px)
  } */
}

main{
  width: min(1300px, 100%);
  margin: aut0;
}

.animation{
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  transition: 0.5s;

}

.animation-active {
  transform: translateY(0);
  filter: blur(0);
  opacity: 1;
}


@media screen and (max-width: 684px) {
  .project{
    padding: 0;
  }
}
